<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <style>
      .circular--portrait {
  position: relative;
  width: 300px;
  height: 300px;
  left: 500px;
  overflow: hidden;
  border-radius: 60%;
  border: 5px solid #555;
}

.circular--portrait img {
  width: 100%;
  height: auto;
}
.btn{
  background-color:black;
  border: 1px solid #fff;
  border-radius: 1px;
}
    </style>
    <title>about</title>
  </head>
  <body style="background-image: url('/static/images/about.jpg');background-repeat: no-repeat;background-size: cover;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">udaykiran</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/about">about</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/projects">projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">contact</a>
              </li>
             
            </ul>
            
          </div>
        </div>
      </nav>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <b>hello viewer! </b>I am looking for a job check my website to know about me:)
      </div>
      <div class="container">
        <h2 class="text-center">About Me</h2><br>
        <div class="circular--portrait">
          <img src="../static/images/20210523083627_IMG_4645.jpg" alt="selfie" />
        </div>
        <br><br>
        <p><h5>Hello viewers! my name is udaykiran . I'm a B.tech student at <b>Anil Neerukonda Institute Of Technology And 
          Sciences(ANITS) Information-Technology department</b> currently i am in my 3rd year and i am applying for full time internships.<br>i completed my secondary edducation at narayana and my primary education at bhashyam school with a good percentage of marks<br>I have choosen to study computer science because i find its fascinating.when i was a child i attracted to computer games and later it was programming and started to creating self html pages and desging it to look good. I also like maths and i think i have a good problem solving skills.</h5></p>
      </div>
      <div class="container">
        <h2 class="text-center">Skills</h2>
      <div class="progress-wrap col-md-5 animate-box fadeInLeft animated">
        <h4>Datastructures And Algorithms</h4>
        <h6>intermediate-2years</h6>
        <div class="progress">
          <div class="progress-bar color-1" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:50%">
            <span>50%</span>
          </div>
       </div>
        <h4>C/C++ and Stl</h4>
        <h6>intermediate-2years</h6>
        <div class="progress">
          <div class="progress-bar bg-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
             <span>70%</span>
          </div>
       </div>
       <h4>Python&Django</h4>
        <h6>intermediate-2years</h6>
        <div class="progress">
          <div class="progress-bar bg-info" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
             <span>70%</span>
          </div>
       </div>
       <h4>Mysql</h4>
        <h6>intermediate-2years</h6>
        <div class="progress">
          <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:50%">
             <span>50%</span>
          </div>
       </div>
       <h4>Bootstrap/Html/Css/JavaScript</h4>
        <h6>intermediate-1year</h6>
        <div class="progress">
          <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:40%">
             <span>40%</span>
          </div>
        </div>
      </div>
      <br>
      <h2 class="text-center">Certifications</h2>
      <h5 style="color:rgb(22, 31, 6);text-decoration-line:underline;text-align:center">python specialization certificate by coursera<br>Datastructures And Algorithms by GeeksForGeeks</h5><br>
      <h2 class="text-center">Project</h2>
      <h6 class="text-center">click here for projects
      <a class="btn" style="background-color:transparent;border: 1px solid #fff;border-radius: 1px;" href="projects" role="button">projects</a></h6><br>
      <h2 class="text-center">Get in Touch</h2>
      <h5 style="text-align:center;">I am a peoples person if u want my guidance or any kind of help regarding problem solving,feel free to contact me.I would love to help out.</h5>
      <h5 style="padding-left: 500px;"><b>I can help u with the following:</b><br></h5>
      <ul style="padding-left: 540px;">
      <li>programing solutions to practical problems<br></li>
      <li>database schema development with Mysql<br></li>
      <li>web development using django</li>
    </ul>
    <h6 class="text-center">click here for contacting
      <a class="btn" style="background-color:transparent;border: 1px solid #fff;border-radius: 0.5px;" href="contact" role="button">contact</a></h6><br>
    </div>
      
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
  </body>
</html>